@use "sass:color"; // 👈 必須加這行，這告訴 Sass 你要用內建的顏色工具
@use "../base/color"as c;

.messages_area {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        padding: 15px;
        width: 95vw;
        height: 95vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;

        li {
            margin: 0 0 10px;
            padding: 10px;

            h3{
                    background-color: red;
                    color: c.$white;
            }

            a {
                color: c.$brown;
                word-break: break-all;
            }

            &:nth-child(odd) {
                background-color: color.scale(c.$main_color_blue, $lightness: 60%);
            }

            &:nth-child(even) {
                background-color: color.scale(c.$main_color_orange, $lightness: 50%);
            }
        }
    }

    .messages_area_send {
        display: none;
    }
}