$header_bg: #EFE8E0;
$body_bg: #F9F8F3;
$body_bg_two: #eeebe3;
$footer_bg: #483C34;

/*main*/
$main_color:             #ed710e;
$main_color_blue:		 #2194d3; 
$main_color_orange:      #ed710e;


/*other*/
$white:#fff;
$grey: grey;
$blue: #0302fe;
// $brown: #514223;
$brown: #634218;
$red:red;
$black:black;
