body {
  font-family: "Noto Sans SC", "Noto Sans TC";
}

/*main*/
/*other*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-size: 25px;
  line-height: 1.7;
  font-weight: bold;
}

h3 {
  font-size: 26px;
  line-height: 1.7;
  font-weight: bold;
}

h4 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
}

h5 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
}

p,
svg {
  font-size: 14px;
  line-height: 1.7;
  color: black;
}

span,
th,
td,
.form-control {
  font-size: 14px;
  text-decoration: none;
  line-height: 1.7;
}

a {
  font-size: 14px;
  text-decoration: none;
  line-height: 1.7;
}
a:hover {
  text-decoration: none;
}

ruby {
  letter-spacing: 1.8px;
  line-height: 3;
}

rt {
  transform: translateY(-35%);
}

input,
label {
  font-size: 14px;
  line-height: 1.7;
}

input[type=file]::file-selector-button {
  display: none;
}

img {
  width: 100%;
}

button {
  padding: 0;
  border-width: 0px;
  border-style: none;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}

button:disabled {
  background-color: grey !important;
  border: 1px solid grey !important;
  opacity: 0.5;
  cursor: auto !important;
}
button:disabled a {
  color: #fff !important;
  cursor: auto;
}

*,
body {
  letter-spacing: 1.5px;
  box-sizing: border-box;
}

body {
  background-color: #F9F8F3;
}

.cursor {
  cursor: pointer;
}

.icon::before {
  display: none;
}

.icon-solid::before {
  font: var(--fa-font-solid);
}

.icon-regular::before {
  font: var(--fa-font-regular);
}

.icon-light::before {
  font: var(--fa-font-light);
}

.icon-duotone::before {
  font: var(--fa-font-duotone);
}

.icon-brands::before {
  font: var(--fa-font-brands);
}

.text_center {
  text-align: center;
}

::selection {
  background: #ed710e;
  color: #fff;
}

.messages_area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.messages_area ul {
  padding: 15px;
  width: 95vw;
  height: 95vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}
.messages_area ul li {
  margin: 0 0 10px;
  padding: 10px;
}
.messages_area ul li h3 {
  background-color: red;
  color: #fff;
}
.messages_area ul li h3.none {
  background-color: transparent;
  font-size: 14px;
  color: black;
}
.messages_area ul li a {
  color: #634218;
  word-break: break-all;
}
.messages_area ul li:nth-child(odd) {
  background-color: rgb(162.9901639344, 213.137704918, 240.6098360656);
}
.messages_area ul li:nth-child(even) {
  background-color: rgb(247.7768924303, 183.8007968127, 132.7231075697);
}
.messages_area .messages_area_send {
  display: none;
}